
@font-face {
    font-family: 'SVN-Have Heart 2';
    src: url('../../asset/fonts/SVN-Have\ Heart\ 2.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Italic';
    src: url('../../asset/fonts/Ubuntu-Italic.ttf');
    font-style: normal;
}