//bg-color
$bg-color-light: #ffffff;

$color-main: #AE292F;
$color-main-dark: #7A0D06;
$color-red-1: #BE1E2D;
$color-red-2: #FFD0D0;
$color-yellow-orange: #F7941D;
$color-yellow: #F78B0B;
$color-yellow-1: #FDC040;
$color-grey: #FEE4D9;
$color-white: #fff;
$color-dark : #000;

